.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
}
.invalid-feedback {
  font-size: 0.8em;
    //border: 1px solid #f1f1f1;
    color: rgb(255, 1, 1);
}

.itemform {
    font-size: 0.9em;
    //border: 1px solid #f1f1f1;
    background: rgb(219, 219, 219);
}