<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/cart" class="carticon" size="large" slot="end" name="cart"></ion-icon>
    <ion-title>Dashboard</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
  <!----<ion-button expand="block" (click)="addRoutineToList()">ADD LIst</ion-button>
  {{routinelist}}
  -->
  <ion-card *ngFor="let item of items " (click)="gotoDetail(item)" class="cards">
  <img [src] ="item.imgUrl"/>  
    <ion-card-header >
         <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.price}}</ion-card-subtitle> 
    </ion-card-header>
   
  </ion-card>

</ion-content>
